<!-- your html code here -->
<div class="bg-white w-100 p-3">
    <h1>Contact</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore eaque ipsum dolorem debitis, est, rem maiores
        ducimus quam praesentium inventore reiciendis. Eligendi eos minus dignissimos, culpa porro nam ratione magnam.
    </p>
    <div class="bg-body-secondary w-50 p-3">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="col-sm-2 col-form-label"">Your E-mail</label>
            <input type=" email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="col-sm-2 col-form-label"">Your Message</label>
            <textarea class=" form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
        </div>
    </div>
    
</div>
