<!-- The First Heading -->
<div class="container my-2 mx-5">
  <div class="row align-items-center">
    <div class="col-md-8">
      <h2 class="display-5 fw-bold">
        The First Heading <span class="text-secondary">Will Catch Your Eye</span>
      </h2>
      <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident doloremque doloribus sed! Omnis veritatis sit
        autem! Obcaecati unde minima itaque, non ex quidem sequi cum quasi eligendi! In, tempore harum.
      </p>
    </div>
    <div class="col-md-4 text-center">
      <img src="assets/img/1.jpg" class="rounded-circle img-fluid" alt="Services Image"
        style="width: 300px; height: 300px; object-fit: cover;">
    </div>
  </div>
</div>