<!-- your html code here -->
<div class="container-fluid my-5 bg-white">
    <div class="feature-section shadow-sm">
        <div class="row g-4 d-flex align-items-center flex-column-reverse flex-lg-row">
            <div class="col-12 col-lg-8">
                <h1 class="heading-text mb-3">This First Heading Will Catch Your Eye</h1>
                <p class="w-15">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, dolore hic ullam tenetur saepe
                    consequuntur! Inventore, eius modi! Reiciendis nulla officia obcaecati dignissimos vel aliquam
                    dolorem voluptatem est asperiores delectus.</p>
            </div>
            <div class="col-12 col-lg-4 text-center">
                <img class="rounded-circle" src="/website/assets/img/1.jpg" alt="breakingBad">
            </div>
        </div>
    </div>




