<div class="container my-5">
    <div class="row align-items-center">
        
        <div class="col-md-4 text-center">
            <img src="https://i.ibb.co/nqS5S4vb/2.jpg" 
                 class="rounded-circle img-fluid" 
                 alt="Services Image"
                 style="width: 300px; height: 300px; object-fit: cover;">
        </div>
        
        <div class="col-md-8">
            <h2 class="display-5 fw-bold">
                The Second Heading <span class="text-secondary">Is Pretty Cool Too.</span>
            </h2>
            <p class="lead">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi eligendi tempora voluptatum ad veniam a, quibusdam nulla minus qui culpa eum ullam iste accusamus voluptatem voluptatibus provident nobis! Facere, cum?
            </p>
            
        </div>
    </div>
</div>