    <div class="container-img-text">
        <div class="container">
            <div class="row align-items-center">

                
                <div class="col-7 left-text">
                    <h1>
                        <strong>This First Heading</strong>
                        <span class="difuminado">Will Catch Your Eye</span>
                    </h1>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci, autem, praesentium quisquam molestiae alias consequuntur, vero iure laborum ducimus commodi quam rem eaque. Maxime beatae nostrum itaque debitis unde minima?
                    </p>
                </div>

                
                <div class="col-5 right-img-container">
                    <img src=".//assets/img/1.jpg" class="img-WW">
                </div>

            </div>
        </div>
    </div>